:root {
    --title-text-color: #212121;
    --button-hover-focus-background-color: #2196F3;
    --background-color: #FFFFFF;

}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--title-text-color);
}
a {
text-decoration: none;
}
a:hover {
color: #2196F3;
}
a:focus-visible {
color: #2196F3;
}

ul {
list-style: none
 }

 * {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    cursor: pointer;
}
.header {
    background: #FFFFFF;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
        
}
.container {
    width: 100%;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

.container-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
         
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
     
}

.logo-header {
 font-family: 'Raleway', 'sans-serif';
 

 }
 .logo-footer {
 font-family: 'Raleway', 'sans-serif';
 padding-top: 60px;
 padding-bottom: 20px;
 }
 .header-link {
    display: flex;
    gap: 40px;
    padding-left: 93px;
    padding-top: 32px;
    padding-bottom: 32px;

}
.nav-contacts {
    display: flex;
    gap: 50px;
    padding-left: 200px;
    
}
.logo-web {
    color: #2196F3;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
.logo-nav-accent {
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
.nav-link-current {
    color: #2196F3;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.nav-link-not-current {
    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    cursor: pointer;
    
    
}
.nav-link-email-contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
.nav-link-tel-contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;

}
.section{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
  }
.about-us {
    background-color: #2F303A;
    padding: 200px 0 200px;
    height: 600px;
    
}
.about-us-container {
    display: block;
    flex-direction: column;
    text-align: center;
    padding-bottom: 200px;
    gap: 30px;
    
}
.about-us-content {
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    width: 696px;
    margin: 0 auto 20px;
    text-align: center;
 
}

.order-service-button {
    display: block;
    min-width: 216px;
    margin-left: auto;
    margin-right: auto;
    color: var(--background-color);
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    cursor: pointer;
 

       
}
.order-service-button:hover, .order-service-button:focus  {
    background-color: #188CE8;
}
.visually-hidden {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
}
.our-advantages-menu {
    display: flex;
    flex-direction: row;
    
}
.advantages-item{
    width: 270px;
  }
.advantages-item:not(:last-child){
    margin-right: 30px;
  }

.our-advantages {
    background-color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.our-advantages-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
/* or 171% */
    letter-spacing: 0.03em;
    color: #757575;

}
.title-head {
    background-color: #fff;
    padding-top: 0px;
}
.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;
    padding-bottom: 50px;
 
    
}
.container-title-description {
    display: flex;

}
.container-title-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
	
}
.title-foto {
    cursor: pointer;
}
.title-foto:not(:last-child) {
    margin-right: 30px;
}
.our-team-section {
    background: #F5F4FA;
    align-items: center;

}
.our-team-foto{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

}
.our-team-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
   /* identical to box height */
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    padding-bottom: 10px;
    
}
.description-member {
    padding-top: 30px;
    padding-bottom: 30px;
}
.our-team-position {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
   /* identical to box height */
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
    

}
.our-team-member {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.adress{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #FFFFFF
    
}
.address-street {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 10px;
 
}
.address-contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 10px;
    padding-bottom: 10px;
}

.portfolio {
    background-color: #FFFFFF;
    
}
.filtr-solutions-button {
    display: flex;
    justify-content: center;
    gap: 10px;


}

.solutions-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
    padding-top: 6px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-left: 20px;
    border-radius: 4px;
}

.projects-examples {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 50px;

}
.projects-descriprtion {
    margin: 0;
    padding-top: 20;
    padding-left: 24px;
    border-bottom: 1px;
    border-right: 1px;
    border-left: 1px;
}
.solutions-button:hover {
    background-color: var(--button-hover-focus-background-color);
    color:#FFFFFF;
}
.solutions-button:focus {
    background-color: var(--button-hover-focus-background-color);
    color: #FFFFFF;
}
.projects {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: #212121;
}
.projects-solution {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color: #757575;
}





